extends ../layout

block content
  if authorList.length
    ul
      each author in authorList
        li
          a(href=author.url) #{ author.fullName }
          |
          | (#{ author.lifeSpan })

  else
    p There are no authors.
